.navbar {
  height: 80px;

  .logo-e {
    color: #3b1bff;
  }

  .download {
    padding: 0.5rem;
    background-image: linear-gradient(90deg, #8b62ff, #3b1bff);
    border: none;
    outline: none;
  }
}
